@font-face {
	font-family: "Lato";
	src: url("./font/Lato-Black.ttf");
	font-weight: 900;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-BlackItalic.ttf");
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-Italic.ttf");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-LightItalic.ttf");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-Thin.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "Lato";
	src: url("./font/Lato-ThinItalic.ttf");
	font-weight: 100;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
b,
span,
input,
button {
	font-family: "Lato";
}

img {
	max-width: 100%;
	width: 100%;
	display: block;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	background-color: #222;
	padding: 20px 0;
	max-height: 30px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: 40px;
}

.navigation {
	display: flex;
	align-items: center;
	gap: 20px;
}

.preview {
	background-color: #f1e4e6;
}

.preview .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.preview__left-side {
	max-width: 600px;
}

.preview__right-side {
	padding-left: 16px;
	border-left: 12px solid #f16d7f;
}

.preview__right-side h1 {
	font-size: 48px;
	font-weight: 900;
	margin: 0;
}

.preview__right-side h2 {
	font-size: 32px;
	font-weight: 700;
	margin: 0;
}

.preview__right-side h2 .mark {
	color: #f16d7f;
}

.sections {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 65px;
	gap: 30px;
}

.sections .card {
	height: 260px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.sections .card.for_women {
	background-image: url("./images/for_women.png");
}

.sections .card.for_men {
	background-image: url("./images/for_men.png");
}
.sections .card.for_kids {
	background-image: url("./images/for_kids.png");
}
.sections .card.accesories {
	background-image: url("./images/accesories.png");
	grid-column: 1 / -1;
}

.sections .card .dark {
	background-color: rgba(33, 22, 22, 0.7);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sections .card h4 {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

.sections .card h3 {
	color: #f16d7f;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin: 0;
}

.featured-items {
	margin-top: 96px;
	margin-bottom: 60px;
}

.featured-items h2 {
	color: #222;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

.featured-items p {
	color: #9f9f9f;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	margin-bottom: 57px;
}

.featured-items .card-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.featured-items .card-list .card {
	background-color: #f8f8f8;
}

.featured-items .card-list .card .info {
	margin: 20px 16px;
}

.featured-items .card-list .card h3 {
	font-size: 13px;
	font-weight: 400;
}

.featured-items .card-list .card p {
	color: #5d5d5d;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 18px;
}

.featured-items .card-list .card .img {
	position: relative;
}

.featured-items .card-list .card .add-cart {
	display: none;
	position: absolute;
	background-color: rgba(58, 56, 56, 0.86);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
}

.featured-items .card-list .card .add-cart button {
	border: none;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: transparent;
	padding: 11px 14px;
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.featured-items .card-list .card .add-cart img {
	max-width: 26px;
}

.featured-items .card-list .card:hover .add-cart {
	display: flex;
}

.featured-items .card-list .card .price {
	color: #f16d7f;
	font-size: 16px;
	font-weight: 400;
}

.featured-items .all-products {
	color: #f26376;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	padding: 15px 40px;
	margin: 48px auto;
	display: block;
	border: 1px solid #ff6a6a;
	cursor: pointer;
}

.featured-items .all-products:hover {
	background-color: #f16d7f;
	color: #fff;
	transition-duration: 0.2s;
}

.additional {
	background-color: #222224;
}

.additional .card-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 104px 0;
}

.additional .card-list .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 360px;
}

.additional .card-list .card h3 {
	color: #fbfbfb;
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	margin: 20px 0 16px;
	text-align: center;
}

.additional .card-list .card p {
	color: #fbfbfb;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
	margin: 0;
	text-align: center;
}

.additional .card-list .card img {
	max-width: 40px;
}

.subscribe .layer {
	background-image: url("./images/layer-beach.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.subscribe .grey {
	background-color: rgba(244, 244, 244, 0.7);
	padding: 90px 0 110px;
}

.subscribe .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subscribe .left-side {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subscribe .left-side img {
	max-width: 96px;
}

.subscribe .left-side p {
	color: #222224;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subscribe .right-side {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subscribe .right-side h3 {
	color: #222224;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}

.subscribe .right-side h4 {
	color: #222224;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	margin: 0;
	margin-bottom: 30px;
}

.subscribe .right-side form {
	display: flex;
}

.subscribe .right-side form input {
	border: none;
	background-color: #e1e1e1;
	padding: 15px;
	max-width: 300px;
	width: 100%;
	border-radius: 30px 0 0 30px;
	color: #222224;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subscribe .right-side form input::placeholder {
	color: #222224;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subscribe .right-side form button {
	border: none;
	background-color: #e05c6e;
	padding: 15px;
	border-radius: 0 30px 30px 0;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer {
	background-color: #222224;
	padding: 30px 0;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .copyright {
	color: #fbfbfb;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer .icons {
	display: flex;
	gap: 7px;
}

.footer .icons img {
	max-width: 30px;
}

@media (max-width: 1024px) and (min-width: 768px) {
	.preview__left-side {
		max-width: 380px;
	}

	.preview__right-side h1 {
		font-size: 44px;
	}

	.preview__right-side h2 {
		font-size: 24px;
	}

	.sections {
		gap: 20px;
	}

	.featured-items .card-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}

	.featured-items .all-products {
		margin: 32px auto;
	}

	.additional .card-list {
		flex-direction: column;
		gap: 50px;
	}

	.subscribe .container {
		flex-direction: column;
		gap: 48px;
	}
}

@media (max-width: 767px) {
	.navigation .small-screen-hide {
		display: none;
	}

	.preview__right-side {
		margin: 150px auto;
	}

	.preview__left-side {
		display: none;
	}

	.preview__right-side h1 {
		font-size: 38px;
	}

	.preview__right-side h2 {
		font-size: 20px;
	}

	.sections {
		grid-template-columns: 1fr;
	}

	.featured-items .card-list {
		grid-template-columns: 1fr;
		gap: 16px;
	}

	.featured-items .all-products {
		margin: 32px auto;
	}

	.additional .card-list {
		flex-direction: column;
		gap: 50px;
	}

	.subscribe .container {
		flex-direction: column;
		gap: 48px;
	}

	.footer .container {
		flex-direction: column-reverse;
		gap: 47px;
	}
}
